@charset "UTF-8";

/*Formatação da página e dos parágrafos*/
body {	
	background-image: url("../imagens/background1.png");
	margin: 0%;
}

p {
	font-family: 'Candara', 'Calibri';
	font-size: 12pt;
	color: rgb(245,5,157);
	text-align: justify;
}

p#local { /*Para formatar o parágrafo de localização, centralizando-o, diferente dos demais parágrafos*/
	text-align: center;
}

/*Formatação do corpo do site (interface)*/
div#interface {
	background-color: rgb(30,30,30);
	width: 67%;
	margin: -3% 18% 0% 14%;
	padding: 1.5% 1.5% 1.5% 1.5%;
	box-shadow: 0px 0px 30px rgba(0,0,0,.6);
}

/*Formatação do cabeçalho com o título do blog e com a imagem da logo*/
header#cabecalho {
	background-color: rgb(30,30,30);
	border-bottom: 4pt double black;
	margin-bottom: 1%;
}

header#cabecalho h1 {
	font-family: 'Candara', 'Calibri';
	font-size: 22pt;
	color: rgb(245,5,157);
	padding: 11%;
	margin-left: 16%;
	margin-bottom: -9%;
}

img#icone { /*Para formatar o ícone do blog no cabeçalho*/
	position: absolute;
	left: 46%;
	top: 6%;
}

/*Formatação do menu*/
nav#menuprincipal {
	font-family: 'Candara', 'Calibri';
	font-size: 14pt;
	display: block;
}

nav#menuprincipal ul {
	list-style: none;
	text-transform: uppercase;
	position: absolute;
	top: -3%;
	left: 57.2%;
	width: 29%;
}

nav#menuprincipal ul li {
	display: inline-block;
	background-color: #888888;
	margin: 0% 1% 0% 1%;
	transition: background-color 1s;
	padding: 1% 1.5% 1% 1.5%;
	border-radius: 10%; /*Para arredondar os botões do menu*/
}

nav#menuprincipal ul li:hover {
	background-color: #dddddd;
}

nav#menuprincipal ul li a {
	color: #000000;
	text-decoration: none;
}

nav#menuprincipal ul li a:hover {
	color: #ffffff;
	text-decoration: underline;
}

/*Formatação da migalha de pão*/
section#corpo h3 a {
	font-family: 'Candara', 'Calibri';
	font-size: 14pt;
	color: rgb(3,148,139);
	text-decoration: none;
	margin-bottom: 0%;
	margin-top: 0%;
}

section#corpo h3 a:hover { /*Para quando o mouse passar por cima da migalha de pão, ela mudar de cor*/
	color: #ffffff;
}

/*Formatação dos títulos h3*/
h3 {
	font-family: 'Candara', 'Calibri';
	font-size: 13pt;
	color: rgb(245,5,157);
}

h3#bemvindo1 { /*Para formatar parágrafo com id 'bemvindo1', cuja formatação é diferente de 'bemvindo2' e 'bemvindo3'*/
	text-align: center;
	margin-top: 5%;
	margin-bottom: 5%;
}

h3#bemvindo2 {	
	text-align: center;
	margin-top: 5%;
}

h3#bemvindo3 {
	text-align: center;
	margin-top: 5%;
	margin-bottom: -1%;
}

/*Formatação das imagens e vídeo*/
iframe.multimidia, input.multimidia {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

iframe {
	margin-top: 2%;
	margin-bottom: 2%;
	width: 50%;
}

section#corpo img {
	width: 6.5%;
}

/*Formatação da lista de contato*/
hgroup#contato {
	font-family: 'Candara', 'Calibri';
	font-size: 12pt;
	color: rgb(245,5,157);
	display: block;
	margin-top: -4%;
}

hgroup#contato ul {
	list-style: none;
	margin: auto;
	width: 35%;
}

hgroup#contato ul li {
	margin: 1% 1% 1% 1%;
	padding: 1% 1% 1% 1%;
}

hgroup#contato ul li a { /*Na formatação desta lista de contato, utilizou-se formatação parecida com o do menu principal*/
	color: rgb(245,5,157);
	text-decoration: none;
}

/*Formatação do formulário*/
form {
	width: 100%;
	margin: auto;
}

input, textarea {
	font-family: 'Candara', 'Calibri';
	font-size: 12pt;
	font-weight: normal;
	background-color: rgb(65,65,65);
	width: 40%;
	border-radius: 5%; /*Para colocar bordas arredondadas aos campos de input e textarea*/
} 

input:hover, textarea:hover { /*Para quando o mouse passar por cima dos campos do formulário que são input e textarea, eles mudarem de cor*/
	background-color: rgb(80,80,80);
}

input.multimidia { /*Para formatar o botão de enviar*/
	width: 10%;
	margin-top: -1%;
}

input#cNotif { /*Para formatar com largura diferente o campo de notificação*/
	width: 5%!important;
}

legend {
	color: rgb(3,148,139);
	font-weight: bold;
	font-size: 13pt;
	font-family: 'Candara', 'Calibri';
}

label {
	color: rgb(245,5,157);
}

fieldset {
	border-color: rgb(3,148,139);
	background-color: rgb(40,40,40);
	border-radius: 5%;
	margin-bottom: 2%;
}

fieldset#sexo { /*Para formatar o campo de escolha de sexo*/
	width: 150px;
}

/*posicionamento do botão para voltar ao topo da página*/
a.blog { 
	position: fixed;
	bottom: 0%;
	right: 5%;
}

/*Formatação do rodapé com o parágrafo e a imagem da logo*/
footer#rodape {
	border-top: 2pt solid black;
	margin-top: 5%;
	margin-bottom: -1.8%;
	position: relative;
}

footer#rodape p {
	margin-left: 28.6%;
	font-size: 10pt;
	margin-bottom: 2.8%;
}

a#redesocial1 { /*Para formatar o ícone do instagram do rodapé*/
	position: absolute;
	left: 45.5%;
}

a#redesocial2 { /*Para formatar o ícone do linkedin do rodapé*/
	position: absolute;
	left: 50.5%;
}

img#logo { /*Para formatar o ícone do blog do rodapé*/
	margin-bottom: -1%;
	margin-top: 5%;
	margin-left: 0.5%;
	margin-right: 0.5%;	
	width: 7.85%;
}