@charset "UTF-8";

/*Formatação da página, dos parágrafos e dos hiperlinks do 'Continue Lendo'*/
body {	
	background-image: url("../imagens/background1.png");
	margin: 0%;
}

p {
	font-family: 'Candara', 'Calibri';
	font-size: 12pt;
	color: rgb(245,5,157);
	text-align: justify;
	text-indent: 2.5%;
}

a {
	font-family: 'Candara', 'Calibri';
	color: rgb(3,148,139);
	font-size: 11pt;
	text-decoration: none;
}

a:hover { /*Para quando o mouse passar por cima da tag 'a', ela mudar de cor*/
	color: #ffffff;
}

/*Formatação do corpo do site (interface)*/
div#interface {
	background-color: rgb(30,30,30);
	width: 67%;
	margin: -3% 18% 0% 14%;
	padding: 1.5% 1.5% 1.5% 1.5%;
	box-shadow: 0px 0px 30px rgba(0,0,0,.6);
}

/*Formatação do cabeçalho com o título do blog e com a imagem da logo*/
header#cabecalho {
	background-color: rgb(30,30,30);
	border-bottom: 4pt double black;
	margin-bottom: 1%;
}

header#cabecalho h1 {
	font-family: 'Candara', 'Calibri';
	font-size: 22pt;
	color: rgb(245,5,157);
	padding: 11%;
	margin-left: 16%;
	margin-bottom: -9%;
}

img#icone { /*Para formatar o ícone do blog no cabeçalho*/
	position: absolute;
	left: 46%;
	top: 6%;
}

/*Formatação do menu*/
nav#menuprincipal {
	font-family: 'Candara', 'Calibri';
	font-size: 14pt;
	display: block;
}

nav#menuprincipal ul {
	list-style: none;
	text-transform: uppercase;
	position: absolute;
	top: -3%;
	left: 57.2%;
	width: 50%;
}

nav#menuprincipal ul li {
	display: inline-block;
	background-color: #888888;
	margin: 0% 1% 0% 1%;
	transition: background-color 1s;
	padding: 1% 1.5% 1% 1.5%;
	border-radius: 10%; /*Para arredondas os botões do menu*/
}

nav#menuprincipal ul li:hover {
	background-color: #dddddd;
}

nav#menuprincipal ul li a {
	color: #000000;
	text-decoration: none;
}

nav#menuprincipal ul li a:hover {
	color: #ffffff;
	text-decoration: underline;
}

/*nav#menuprincipal {
	font-family: 'Candara', 'Calibri';
	font-size: 12pt;
	display: block;
}

nav#menuprincipal ul {
	list-style: none;
	text-transform: uppercase;
	position: absolute;
	top: -6%;
	left: 60.9%;
	width: 30%;
}

nav#menuprincipal ul li {
	display: inline-block;
	background-color: #888888;
	margin: 5% 1% 5% 1%;
	transition: background-color 1s;
	padding: 1% 1.5% 1% 1.5%;
}

nav#menuprincipal ul li:hover {
	background-color: #dddddd;
}

nav#menuprincipal ul li a {
	color: #000000;
	text-decoration: none;
}

nav#menuprincipal ul li a:hover {
	color: #ffffff;
	text-decoration: underline;
}*/

/*Formatação da migalha de pão*/
section#corpo h3 a {
	font-family: 'Candara', 'Calibri';
	font-size: 14pt;
	color: rgb(3,148,139);
	text-decoration: none;
}

section#corpo h3 a:hover { /*Para quando o mouse passar por cima da migalha de pão, ela mudar de cor*/
	color: #ffffff;
}

/*Formatação dos títulos (h1, h2 e h3)*/
section#corpo h1 {
	font-family: 'Candara', 'Calibri';
	font-size: 20pt;
	color: rgb(245,5,157);
	margin-bottom: 0%;
	margin-top: 5%;
	border-top: 1pt solid black;
	padding-top: 5%;
}

hgroup#primeiropost h1 { /*O título do primeiro post não precisa ter tanta margem 'top' quanto os demais e nem a borda separando um post do outro*/
	margin-top: 2%!important;
	border-top: none!important;
}

h2 {
	font-family: 'Candara', 'Calibri';
	font-size: 13pt;
	color: rgb(245,5,157);
	margin-top: 0%;
	margin-bottom: 0%;
}

h2.titulospost { /*Os títulos 'h2' dos posts são diferentes dos demais títulos 'h2'*/
	font-size: 18pt;
	margin-bottom: 0%;
	margin-top: 3%;
}

h3 {
	font-family: 'Candara', 'Calibri';
	font-size: 13pt;
	color: rgb(245,5,157);
	margin-top: 0%;
}

/*Formatação da imagem do post 3*/
img#p3img1 { /*Para centralizar a imagem*/
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
}

/*posicionamento do botão para voltar ao topo da página*/
a.blog { 
	position: fixed;
	bottom: 0%;
	right: 5%;
}

/*Formatação do rodapé com o parágrafo e a imagem da logo*/
footer#rodape {
	border-top: 2pt solid black;
	margin-top: 5%;
	position: relative;
}

footer#rodape p {
	text-align: center;
	font-size: 10pt;
}

a#redesocial1 { /*Para formatar o ícone do instagram do rodapé*/
	position: absolute;
	left: 45.5%;
}

a#redesocial2 { /*Para formatar o ícone do linkedin do rodapé*/
	position: absolute;
	left: 50.5%;
}

img#logo { /*Para formatar o ícone do blog do rodapé*/
	margin-bottom: -1%;
	margin-top: 5%;
	margin-left: 0.5%;
	margin-right: 0.5%;	
	width: 5.5%;
}
